@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-light-gray);
  font-family: "Rubik", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body section.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 40%;
  margin: 24px 0;
  /* Section with all the comments and their replies */
  /* Section with the add comment textarea and button */
  /* Section for the delete modal */
}
body section.main section.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* One comment and its replies */
}
body section.main section.comments div[class^=comments] {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  /* Comment and reply comment */
  /* Comment */
  /* Reply comment */
  /* Reply section */
}
body section.main section.comments div[class^=comments] div.comment,
body section.main section.comments div[class^=comments] div.replies {
  display: flex;
  /* Likes style */
  /* Comment content */
}
body section.main section.comments div[class^=comments] div.comment .likes,
body section.main section.comments div[class^=comments] div.replies .likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  width: 36px;
  background-color: var(--very-light-gray);
  padding: 0.7rem 0.8rem;
  margin-right: 1.6rem;
  border-radius: 6px;
}
body section.main section.comments div[class^=comments] div.comment .likes img,
body section.main section.comments div[class^=comments] div.replies .likes img {
  width: 0.75rem;
  padding: 2px 0;
  cursor: pointer;
  transition: filter, transform 0.25s ease-in-out;
}
body section.main section.comments div[class^=comments] div.comment .likes img.liked,
body section.main section.comments div[class^=comments] div.replies .likes img.liked {
  filter: invert(0.5) sepia(1) saturate(1000%) hue-rotate(90deg);
  transform: scale(1.25);
}
body section.main section.comments div[class^=comments] div.comment .likes img.disliked,
body section.main section.comments div[class^=comments] div.replies .likes img.disliked {
  filter: invert(0.5) sepia(1) saturate(10000%) hue-rotate(0deg);
  transform: scale(1.25);
}
body section.main section.comments div[class^=comments] div.comment .likes p,
body section.main section.comments div[class^=comments] div.replies .likes p {
  font: 500 1rem "Rubik", sans-serif;
  color: var(--moderate-blue);
}
body section.main section.comments div[class^=comments] div.comment .comment-content,
body section.main section.comments div[class^=comments] div.replies .comment-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-wrap: anywhere;
  /* Superior bar with author information and reply function */
  /* Content + update button */
}
body section.main section.comments div[class^=comments] div.comment .comment-content .post-info,
body section.main section.comments div[class^=comments] div.replies .comment-content .post-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
body section.main section.comments div[class^=comments] div.comment .comment-content .post-info .left,
body section.main section.comments div[class^=comments] div.replies .comment-content .post-info .left {
  display: flex;
  align-items: center;
}
body section.main section.comments div[class^=comments] div.comment .comment-content .post-info .left img,
body section.main section.comments div[class^=comments] div.replies .comment-content .post-info .left img {
  width: 28px;
  margin-right: 0.6rem;
  cursor: pointer;
}
body section.main section.comments div[class^=comments] div.comment .comment-content .post-info .left p.profile-name,
body section.main section.comments div[class^=comments] div.replies .comment-content .post-info .left p.profile-name {
  font: 700 1rem "Rubik", sans-serif;
  color: var(--dark-blue);
  margin-right: 0.8rem;
  cursor: pointer;
}
body section.main section.comments div[class^=comments] div.comment .comment-content .post-info .left p.current-user,
body section.main section.comments div[class^=comments] div.replies .comment-content .post-info .left p.current-user {
  font: 400 0.8rem "Rubik", sans-serif;
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 0.15rem 0.3rem;
  margin-right: 0.8rem;
  border-radius: 3px;
}
body section.main section.comments div[class^=comments] div.comment .comment-content .post-info .left p.post-date,
body section.main section.comments div[class^=comments] div.replies .comment-content .post-info .left p.post-date {
  font: 400 1rem "Rubik", sans-serif;
  color: var(--grayish-blue);
}
body section.main section.comments div[class^=comments] div.comment .comment-content p.content,
body section.main section.comments div[class^=comments] div.replies .comment-content p.content {
  font: 400 1rem "Rubik", sans-serif;
  color: var(--grayish-blue);
  line-height: 1.35rem;
}
body section.main section.comments div[class^=comments] div.comment .comment-content textarea.content,
body section.main section.comments div[class^=comments] div.replies .comment-content textarea.content {
  min-height: 84px;
  font: 400 1.025rem "Rubik", sans-serif;
  color: var(--grayish-blue);
  line-height: 1.35rem;
  border: 2px solid var(--light-gray);
  border-radius: 6px;
  padding: 0.6rem 1.2rem;
  margin-bottom: 0.8rem;
  resize: none;
  outline: none;
  overflow: hidden;
  transition: border 0.2s ease-in-out;
}
body section.main section.comments div[class^=comments] div.comment .comment-content textarea.content::-moz-placeholder, body section.main section.comments div[class^=comments] div.replies .comment-content textarea.content::-moz-placeholder {
  font: 400 0.9rem "Rubik", sans-serif;
  color: var(--grayish-blue);
}
body section.main section.comments div[class^=comments] div.comment .comment-content textarea.content::placeholder,
body section.main section.comments div[class^=comments] div.replies .comment-content textarea.content::placeholder {
  font: 400 0.9rem "Rubik", sans-serif;
  color: var(--grayish-blue);
}
body section.main section.comments div[class^=comments] div.comment .comment-content textarea.content:focus,
body section.main section.comments div[class^=comments] div.replies .comment-content textarea.content:focus {
  color: var(--dark-blue);
  border: 2px solid var(--moderate-blue);
}
body section.main section.comments div[class^=comments] div.comment .comment-content button.update,
body section.main section.comments div[class^=comments] div.replies .comment-content button.update {
  width: -moz-fit-content;
  width: fit-content;
  font: 500 0.8rem "Rubik", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  padding: 0.6rem 1.2rem;
  margin-left: auto;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--moderate-blue);
}
body section.main section.comments div[class^=comments] div.comment .comment-content button.update:hover,
body section.main section.comments div[class^=comments] div.replies .comment-content button.update:hover {
  opacity: 0.95;
  transform: scale(1.02);
}
body section.main section.comments div[class^=comments] div.comment .comment-content button.update:focus,
body section.main section.comments div[class^=comments] div.replies .comment-content button.update:focus {
  background-color: hsla(238, 40%, 52%, 0.6);
}
body section.main section.comments div[class^=comments] div.comment div.action,
body section.main section.comments div[class^=comments] div.replies div.action {
  display: flex;
  align-items: center;
  /* Action text + icons */
}
body section.main section.comments div[class^=comments] div.comment div.action button.reply,
body section.main section.comments div[class^=comments] div.comment div.action button.edit,
body section.main section.comments div[class^=comments] div.replies div.action button.reply,
body section.main section.comments div[class^=comments] div.replies div.action button.edit {
  display: flex;
  align-items: center;
  font: 500 1rem "Rubik", sans-serif;
  background-color: var(--white);
  color: var(--moderate-blue);
  border: none;
  cursor: pointer;
}
body section.main section.comments div[class^=comments] div.comment div.action button.reply img,
body section.main section.comments div[class^=comments] div.comment div.action button.edit img,
body section.main section.comments div[class^=comments] div.replies div.action button.reply img,
body section.main section.comments div[class^=comments] div.replies div.action button.edit img {
  width: 16px;
  margin-right: 0.4rem;
}
body section.main section.comments div[class^=comments] div.comment div.action button.delete,
body section.main section.comments div[class^=comments] div.replies div.action button.delete {
  display: flex;
  align-items: center;
  font: 500 1rem "Rubik", sans-serif;
  background-color: var(--white);
  color: var(--soft-red);
  margin-right: 1.6rem;
  border: none;
  cursor: pointer;
}
body section.main section.comments div[class^=comments] div.comment div.action button.delete img,
body section.main section.comments div[class^=comments] div.replies div.action button.delete img {
  width: 16px;
  margin-right: 0.4rem;
}
body section.main section.comments div[class^=comments] div.comment {
  width: 100%;
  background-color: var(--white);
  padding: 1.6rem 1.4rem;
  border-radius: 6px;
  margin-bottom: 1.15rem;
}
body section.main section.comments div[class^=comments] div.replies {
  flex-direction: column;
  width: 100%;
  border-left: 2px solid var(--light-gray);
  margin: 0 0 1.15rem 0;
}
body section.main section.comments div[class^=comments] div.replies div[id^=reply] {
  display: flex;
  background-color: var(--white);
  padding: 1.6rem 1.4rem;
  border-radius: 6px;
  margin: 0 0 0 5%;
}
body section.main section.comments div[class^=comments] div.replies div[id^=reply].evaporate {
  animation: evaporation 2s ease-in-out forwards;
}
body section.main section.comments div[class^=comments] div.replies div[id^=reply]:not(:last-child) {
  margin-bottom: 1.15rem;
}
body section.main section.comments div[class^=comments] div.replies div.reply-section {
  width: auto;
  margin: -10px 0 1.15rem 5%;
}
body section.main section.comments div[class^=comments] div.reply-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background-color: var(--white);
  padding: 1.6rem 1.4rem;
  border-radius: 6px;
  margin: -10px 0 1.15rem 0;
}
body section.main section.comments div[class^=comments] div.reply-section img {
  width: 34px;
  margin-right: 1rem;
}
body section.main section.comments div[class^=comments] div.reply-section textarea {
  width: 100%;
  min-height: 76px;
  color: var(--dark-blue);
  font: 400 1rem "Rubik", sans-serif;
  border: 2px solid var(--light-gray);
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
  resize: none;
  outline: none;
  overflow: hidden;
  transition: border 0.2s ease-in-out;
}
body section.main section.comments div[class^=comments] div.reply-section textarea::-moz-placeholder {
  font: 400 0.9rem "Rubik", sans-serif;
  color: var(--grayish-blue);
}
body section.main section.comments div[class^=comments] div.reply-section textarea::placeholder {
  font: 400 0.9rem "Rubik", sans-serif;
  color: var(--grayish-blue);
}
body section.main section.comments div[class^=comments] div.reply-section textarea:focus {
  color: var(--dark-blue);
  border: 2px solid var(--moderate-blue);
}
body section.main section.comments div[class^=comments] div.reply-section button {
  font: 400 0.9rem "Rubik", sans-serif;
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 0.6rem 1.2rem;
  margin-left: 1rem;
  border: none;
  border-radius: 6px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
body section.main section.comments div[class^=comments] div.reply-section button:hover {
  opacity: 0.95;
  transform: scale(1.02);
}
body section.main section.comments div[class^=comments] div.reply-section button:focus {
  background-color: hsla(238, 40%, 52%, 0.6);
}
body section.main section.add-a-comment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: var(--white);
  width: 100%;
  padding: 22px 0;
  border-radius: 6px;
}
body section.main section.add-a-comment div.picture {
  display: flex;
  justify-content: center;
  width: 10%;
  background-color: initial;
}
body section.main section.add-a-comment div.picture img {
  width: 34px;
}
body section.main section.add-a-comment div.textarea {
  display: flex;
  justify-content: center;
  width: 74%;
  background-color: initial;
}
body section.main section.add-a-comment div.textarea textarea {
  width: 100%;
  color: var(--dark-blue);
  font: 400 1rem "Rubik", sans-serif;
  border: 2px solid var(--light-gray);
  border-radius: 10px;
  padding: 0.6rem 1.2rem;
  resize: none;
  outline: none;
  overflow: hidden;
  transition: border 0.2s ease-in-out;
}
body section.main section.add-a-comment div.textarea textarea::-moz-placeholder {
  font: 400 0.9rem "Rubik", sans-serif;
  color: var(--grayish-blue);
}
body section.main section.add-a-comment div.textarea textarea::placeholder {
  font: 400 0.9rem "Rubik", sans-serif;
  color: var(--grayish-blue);
}
body section.main section.add-a-comment div.textarea textarea:focus {
  color: var(--dark-blue);
  border: 2px solid var(--moderate-blue);
}
body section.main section.add-a-comment div.button {
  display: flex;
  justify-content: center;
  width: 16%;
  background-color: initial;
}
body section.main section.add-a-comment div.button button {
  font: 400 0.9rem "Rubik", sans-serif;
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
body section.main section.add-a-comment div.button button:hover {
  opacity: 0.95;
  transform: scale(1.02);
}
body section.main section.add-a-comment div.button button:focus {
  background-color: hsla(238, 40%, 52%, 0.6);
}
body section.main section.modal-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
body section.main section.modal-overlay.active {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
}
body section.main section.modal-overlay div.modal-content {
  width: 18%;
  background-color: var(--white);
  padding: 1.8rem 1.6rem;
  border-radius: 6px;
}
body section.main section.modal-overlay div.modal-content h2 {
  font: 700 1.25rem "Rubik", sans-serif;
  color: var(--dark-blue);
  margin-bottom: 1.2rem;
}
body section.main section.modal-overlay div.modal-content p {
  font: 400 0.95rem "Rubik", sans-serif;
  color: var(--grayish-blue);
  line-height: 1.3rem;
  margin-bottom: 1.2rem;
}
body section.main section.modal-overlay div.modal-content div.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body section.main section.modal-overlay div.modal-content div.buttons button {
  font: 500 0.8rem "Rubik", sans-serif;
  text-transform: uppercase;
  color: var(--white);
  padding: 0.9rem 1.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
body section.main section.modal-overlay div.modal-content div.buttons button.cancel {
  background-color: var(--grayish-blue);
}
body section.main section.modal-overlay div.modal-content div.buttons button.delete {
  background-color: var(--soft-red);
}
body section.main section.modal-overlay div.modal-content div.buttons button:hover {
  opacity: 0.95;
  transform: scale(1.02);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--white);
  padding: 0.8rem 0;
}
footer a {
  color: var(--grayish-blue);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
footer a:hover {
  color: var(--moderate-blue);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes evaporation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@media (max-width: 375px) {
  body section.main {
    width: 90%;
    padding: 1.5rem 0;
  }
  body section.main section.comments div[class^=comments] div.comment,
  body section.main section.comments div[class^=comments] div.replies {
    flex-direction: column;
    padding: 0.8rem 1rem;
  }
  body section.main section.comments div[class^=comments] div.comment div.comment-content p.content,
  body section.main section.comments div[class^=comments] div.replies div.comment-content p.content {
    font: 400 0.9rem "Rubik", sans-serif;
    line-height: 1.2rem;
  }
  body section.main section.comments div[class^=comments] div.comment div.likes-and-actions,
  body section.main section.comments div[class^=comments] div.replies div.likes-and-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.8rem;
  }
  body section.main section.comments div[class^=comments] div.comment div.likes-and-actions div.likes,
  body section.main section.comments div[class^=comments] div.replies div.likes-and-actions div.likes {
    flex-direction: row;
    width: 90px;
    height: 36px;
  }
  body section.main section.comments div[class^=comments] div.comment div.likes-and-actions div.likes p,
  body section.main section.comments div[class^=comments] div.replies div.likes-and-actions div.likes p {
    font: 500 0.9rem "Rubik", sans-serif;
  }
  body section.main section.comments div[class^=comments] div.comment div.likes-and-actions div.action button,
  body section.main section.comments div[class^=comments] div.replies div.likes-and-actions div.action button {
    font: 500 0.9rem "Rubik", sans-serif;
  }
  body section.main section.comments div[class^=comments] div.comment.existing-replies {
    margin-bottom: 0.8rem;
  }
  body section.main section.comments div[class^=comments] div.replies {
    padding: 0 1rem;
  }
  body section.main section.comments div[class^=comments] div.replies div[id^=reply] {
    flex-direction: column;
  }
  body section.main section.comments div[class^=comments] div.replies div[id^=reply]:not(:last-child) {
    margin-bottom: 0.8rem;
  }
  body section.main section.add-a-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body section.main section.add-a-comment div.textarea {
    width: 90%;
  }
  body footer {
    font: 400 0.9rem "Rubik", sans-serif;
  }
}/*# sourceMappingURL=style.css.map */